.categories {
  &__item {
    width: calc(25% - 10px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 5px;
    &:first-child {
      margin-left: 0;
      margin-right: 5px;
    }
    &:nth-child(4) {
      margin-left: 5px;
      margin-right: 0;
    }
    &:nth-child(5) {
      margin-left: 0;
      margin-right: 5px;
    }

    &-title {

    }
    &-image {
      margin: auto;
    }

    &-price {
      font-size: 1rem;
      margin: 20px 0;
    }
  }
}